nav{
    max-width: 200px;
    background-color: aliceblue;


    .logo-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;

        img{
            width: 50px;
            height: 50px;
        }
    }

    .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        button{
            background: none;
            border: none;
            cursor: pointer;
            margin: 10px 0;
            font-size: 24px;

            &:hover{
                color: blue;
            }
        }
    }

    .bottom{
        margin-top: auto;
        margin-bottom: 20px;
    }
}